In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

df = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Happy Data/happiness.csv')

In [3]:
df.columns

Index(['Country', 'Gender', 'Mean', 'N='], dtype='object')

In [4]:
df.describe()

             Mean            N=
count  105.000000    105.000000
mean     7.417143   1908.609524
std      0.573025   4184.462403
min      5.800000    375.000000
25%      7.000000    510.000000
50%      7.500000    684.000000
75%      7.800000   1011.000000
max      8.400000  30434.000000

In [11]:
males = []
females = []
both = []
count = 0 
meangend = df[["Gender",'Mean']].values
while (count < len(meangend)):
    if (meangend[count][0]=='Male'):
        males.append(meangend[count])
    elif (meangend[count][0] == 'Female'):
        females.append(meangend[count])
    else:
        (both.append(meangend[count]))
    count+=1