In [136]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
plt.rcParams['figure.figsize'] = (20.0, 10.0)

# NASDAQ 100 Index; Index; D; NSA; 2019-01-10 => Daily - not seasonally adjusted 
tr_path = '/Users/Stellarhardwood/Downloads/STOCKMARKET_csv_2/STOCKMARKET_csv_2/data/NASDAQ100.csv'
df_nas = pd.read_csv(tr_path)

# Dow Jones Composite Average; Index; D; NSA; 2019-01-10
path = '/Users/Stellarhardwood/Downloads/STOCKMARKET_csv_2/STOCKMARKET_csv_2/data/DJCA.csv'
df_dow = pd.read_csv(path)

In [137]:
df_dow.describe()
df_dow['VALUE'].head(26).values
# noticing theres values with '.'
# need to clean this up

array(['2976.17', '2948.09', '2856.88', '2876.05', '2895.41', '.',
       '2775.04', '2857.44', '2830.25', '2805.81', '2829.37', '2856.59',
       '2927.47', '2858.60', '2798.52', '2776.47', '2839.01', '2814.37',
       '2853.37', '2935.88', '2927.73', '2800.19', '2798.48', '2787.05',
       '2762.98', '.'], dtype=object)

In [140]:
s = pd.Series(df_dow["VALUE"].values)
d = pd.Series(df_dow['DATE'].values)
# Make strings float 
s_new = pd.to_numeric(s,errors='coerce')
# Create dframe
df_s = pd.DataFrame(s_new, columns=['value'])
# Drop misc values 
dfs = df_s.dropna()
# Create dframe for dates 
dfd = pd.DataFrame(d,columns=['dates'])
new = pd.concat([dfd,dfs],axis=1)
df_dows = new.dropna()
df_dows

           dates    value
0     2009-01-12  2976.17
1     2009-01-13  2948.09
2     2009-01-14  2856.88
3     2009-01-15  2876.05
4     2009-01-16  2895.41
6     2009-01-20  2775.04
7     2009-01-21  2857.44
8     2009-01-22  2830.25
9     2009-01-23  2805.81
10    2009-01-26  2829.37
11    2009-01-27  2856.59
12    2009-01-28  2927.47
13    2009-01-29  2858.60
14    2009-01-30  2798.52
15    2009-02-02  2776.47
16    2009-02-03  2839.01
17    2009-02-04  2814.37
18    2009-02-05  2853.37
19    2009-02-06  2935.88
20    2009-02-09  2927.73
21    2009-02-10  2800.19
22    2009-02-11  2798.48
23    2009-02-12  2787.05
24    2009-02-13  2762.98
26    2009-02-17  2640.76
27    2009-02-18  2621.72
28    2009-02-19  2594.54
29    2009-02-20  2560.40
30    2009-02-23  2472.74
31    2009-02-24  2567.67
...          ...      ...
2576  2018-11-27  8305.13
2577  2018-11-28  8481.05
2578  2018-11-29  8455.23
2579  2018-11-30  8545.83
2580  2018-12-03  8619.47
2581  2018-12-04  8363.02
2583  2018-12-06  8343.42
2584  2018-12-07  8153.50
2585  2018-12-10  8147.31
2586  2018-12-11  8129.57
2587  2018-12-12  8155.06
2588  2018-12-13  8143.86
2589  2018-12-14  8010.05
2590  2018-12-17  7844.65
2591  2018-12-18  7862.88
2592  2018-12-19  7727.82
2593  2018-12-20  7616.50
2594  2018-12-21  7490.61
2595  2018-12-24  7261.50
2597  2018-12-26  7592.60
2598  2018-12-27  7666.84
2599  2018-12-28  7643.97
2600  2018-12-31  7710.44
2602  2019-01-02  7701.20
2603  2019-01-03  7504.21
2604  2019-01-04  7741.12
2605  2019-01-07  7763.19
2606  2019-01-08  7857.45
2607  2019-01-09  7897.68
2608  2019-01-10  7946.79

[2515 rows x 2 columns]

In [ ]:
y= df_dow['DATE'].head(50)
x= df_dow['VALUE'].head(50)

plt.plot(x,y)
#Add axis labels 
plt.xlabel("Values")
plt.ylabel("Date")
plt.xticks()