In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

In [2]:
teams_half = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/TeamsHalf.csv')
batting_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/BattingPost.csv')
fielding_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/FieldingPost.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
salaries = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/Salaries.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
teams = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/Teams.csv')
series_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/SeriesPost.csv')

In [53]:
teams.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [55]:
teams.columns 
# Drop divID attendecnee / Ghome / franchID / yearID / DivWin  / WCWin / LgWin / WSWin

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [84]:
wins = teams['W']
loses = teams['L']
df = teams[['yearID','teamID','Rank','W','L']]

In [145]:
# Best TeamS = HOU => The Houston Astros
# LAN => Los Angeles Dodgers
teams = df[df['yearID'] >= 2017].sort_values(by=('W'),ascending=False).reset_index(drop=True)
teams

    yearID teamID  Rank    W   L
0     2017    LAN     1  104  58
1     2017    CLE     1  102  60
2     2017    HOU     1  101  61
3     2017    WAS     1   97  65
4     2017    ARI     2   93  69
5     2017    BOS     1   93  69
6     2017    CHN     1   92  70
7     2017    NYA     2   91  71
8     2017    COL     3   87  75
9     2017    MIL     2   86  76
10    2017    MIN     2   85  77
11    2017    SLN     3   83  79
12    2017    TBA     3   80  82
13    2017    LAA     2   80  82
14    2017    KCA     3   80  82
15    2017    SEA     3   78  84
16    2017    TEX     4   78  84
17    2017    MIA     2   77  85
18    2017    TOR     4   76  86
19    2017    OAK     5   75  87
20    2017    BAL     5   75  87
21    2017    PIT     4   75  87
22    2017    ATL     3   72  90
23    2017    SDN     4   71  91
24    2017    NYN     4   70  92
25    2017    CIN     5   68  94
26    2017    CHA     4   67  95
27    2017    PHI     5   66  96
28    2017    SFN     5   64  98
29    2017    DET     5   64  98

In [134]:
# Lets look at the best teams batting,fielding and pitching and compare them to 
# to the worst and then somewhere in the middle 
# we'll then determine what type of alogorithm should best be used 
batting_p.columns

Index(['yearID', 'round', 'playerID', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [42]:
# Best teams player STATS 
crit1 = batting_p['yearID'] >= 2009
crit2 = batting_p['teamID'] == 'WAS'
#crit3 = batting_p['yearID'] < 2009
critall = crit1 & crit2 
Was_players_batting = batting_p[critall].drop(columns=['SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'lgID', 'teamID', 'round']).reset_index(drop=True)
Was_players_batting

    yearID   playerID  G  AB  R  H  2B  3B  HR  RBI
0     2012  bernaro01  4   2  0  0   0   0   0    0
1     2012  burnese01  2   0  0  0   0   0   0    0
2     2012  clippty01  3   0  0  0   0   0   0    0
3     2012  desmoia01  5  19  2  7   1   0   0    0
4     2012  detwiro01  1   1  0  0   0   0   0    0
5     2012  espinda01  5  15  0  1   0   0   0    0
6     2012  garcich02  2   0  0  0   0   0   0    0
7     2012  gonzagi01  2   3  0  0   0   0   0    0
8     2012  gonzami02  1   0  0  0   0   0   0    0
9     2012  gorzeto01  1   0  0  0   0   0   0    0
10    2012  harpebr03  5  23  2  3   1   1   1    2
11    2012  jacksed01  2   1  0  0   0   0   0    0
12    2012  larocad01  5  17  4  3   0   0   2    2
13    2012  lombast02  3   3  0  1   0   0   0    0
14    2012  matthry01  3   0  0  0   0   0   0    0
15    2012  moorety01  1   1  0  1   0   0   0    2
16    2012  morsemi01  5  19  2  5   0   0   1    2
17    2012  stammcr01  4   0  0  0   0   0   0    0
18    2012  storedr01  4   0  0  0   0   0   0    0
19    2012  suzukku01  5  17  0  4   0   0   0    2
20    2012  tracych01  5   4  0  0   0   0   0    0
21    2012  werthja01  5  21  3  5   1   0   1    1
22    2012  zimmejo02  2   1  0  1   0   0   0    1
23    2012  zimmery01  5  21  3  8   1   0   2    4
24    2014  barreaa01  2   0  0  0   0   0   0    0
25    2014  blevije01  3   0  0  0   0   0   0    0
26    2014  cabreas01  4  15  2  3   1   0   1    2
27    2014  clippty01  3   0  0  0   0   0   0    0
28    2014  desmoia01  4  18  2  3   0   0   0    0
29    2014  espinda01  2   4  0  0   0   0   0    0
..     ...        ... ..  .. .. ..  ..  ..  ..  ...
66    2016  severpe01  4  10  1  1   1   0   0    0
67    2016  solissa01  5   0  0  0   0   0   0    0
68    2016  taylomi02  3   2  0  0   0   0   0    0
69    2016  treinbl01  3   0  0  0   0   0   0    0
70    2016  turnetr01  5  22  5  7   0   0   0    1
71    2016  werthja01  5  18  4  7   2   0   1    3
72    2016  zimmery01  5  17  1  6   2   0   0    2
73    2017  alberma01  2   0  0  0   0   0   0    0
74    2017   difowi01  1   1  0  0   0   0   0    0
75    2017  doolise01  3   0  0  0   0   0   0    0
76    2017  gonzagi01  2   2  0  0   0   0   0    0
77    2017  goodwbr01  1   0  0  0   0   0   0    0
78    2017  harpebr03  5  19  2  4   1   0   1    3
79    2017  kendrho01  3   2  0  0   0   0   0    0
80    2017  kintzbr01  3   0  0  0   0   0   0    0
81    2017   lindad01  3   3  0  2   0   0   0    0
82    2017  lobatjo01  1   2  0  1   0   0   0    0
83    2017  madsory01  4   0  0  0   0   0   0    0
84    2017  murphda08  5  19  5  4   1   0   1    2
85    2017  perezol01  2   0  0  0   0   0   0    0
86    2017  rendoan01  5  17  4  3   1   0   1    1
87    2017  roblevi01  2   1  1  0   0   0   0    0
88    2017  scherma01  2   3  0  0   0   0   0    0
89    2017  solissa01  3   0  0  0   0   0   0    0
90    2017  strasst01  2   4  0  0   0   0   0    0
91    2017  taylomi02  5  15  3  5   0   0   2    8
92    2017  turnetr01  5  21  1  3   1   0   0    0
93    2017  werthja01  5  18  1  3   1   0   0    0
94    2017  wietema01  5  14  2  2   0   0   0    0
95    2017  zimmery01  5  20  1  3   1   0   1    4

[96 rows x 10 columns]

In [50]:
## Do the same above but for HOU 
crit1 = batting_p['yearID'] >= 2000
crit3 = batting_p['yearID'] < 2016
crit2 = batting_p['teamID'] == 'HOU'
critall = crit1 & crit2 & crit3
Hou_players_batting = batting_p[critall].drop(columns=['SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'lgID', 'teamID', 'round']).reset_index(drop=True)
Hou_players_batting

     yearID   playerID  G  AB   R   H  2B  3B  HR  RBI
0      2001   aloumo01  3  12   0   2   1   0   0    1
1      2001  ausmubr01  3   8   1   2   0   0   1    2
2      2001  bagweje01  3   7   0   3   0   0   0    0
3      2001  berkmla01  3  12   0   2   0   0   0    0
4      2001  biggicr01  3  12   0   2   0   0   0    0
5      2001  castivi02  3  11   1   3   0   0   1    1
6      2001   cruzne01  2   0   0   0   0   0   0    0
7      2001  doteloc01  2   0   0   0   0   0   0    0
8      2001  eusebto01  1   3   1   2   1   0   0    0
9      2001  hidalri01  3   8   1   1   0   0   0    0
10     2001  jacksmi02  2   0   0   0   0   0   0    0
11     2001   lugoju01  3   8   1   0   0   0   0    0
12     2001  merceor01  1   1   0   0   0   0   0    0
13     2001  millewa04  1   2   0   0   0   0   0    0
14     2001  mlickda01  1   1   0   0   0   0   0    0
15     2001  reynosh01  1   1   0   0   0   0   0    0
16     2001  trubych01  1   1   0   0   0   0   0    0
17     2001  villoro01  1   0   0   0   0   0   0    0
18     2001  vizcajo01  3   6   0   1   0   0   0    0
19     2001  wagnebi02  2   0   0   0   0   0   0    0
20     2001   wardda01  2   2   1   1   0   0   1    2
21     2001  willimi03  1   0   0   0   0   0   0    0
22     2004  ausmubr01  7  19   0   2   0   0   0    0
23     2004  ausmubr01  5   9   3   3   0   0   1    1
24     2004  backebr01  3   5   0   0   0   0   0    0
25     2004  backebr01  1   1   0   0   0   0   0    0
26     2004  bagweje01  7  27   1   7   2   0   0    3
27     2004  bagweje01  5  22   5   7   2   0   2    5
28     2004  beltrca01  7  24  12  10   1   0   4    5
29     2004  beltrca01  5  22   9  10   2   0   4    9
..      ...        ... ..  ..  ..  ..  ..  ..  ..  ...
153    2015  gattiev01  1   4   0   0   0   0   0    0
154    2015  gomezca01  5  12   1   3   0   0   1    2
155    2015  gomezca01  1   3   1   1   0   0   1    1
156    2015  gonzama01  3   2   0   0   0   0   0    0
157    2015  gonzama01  1   1   0   0   0   0   0    0
158    2015  gregelu01  3   0   0   0   0   0   0    0
159    2015  gregelu01  1   0   0   0   0   0   0    0
160    2015  harriwi02  3   0   0   0   0   0   0    0
161    2015  harriwi02  1   0   0   0   0   0   0    0
162    2015  kazmisc01  1   0   0   0   0   0   0    0
163    2015  keuchda01  2   0   0   0   0   0   0    0
164    2015  keuchda01  1   0   0   0   0   0   0    0
165    2015  lowrije01  3   3   0   0   0   0   0    0
166    2015  lowrije01  1   1   0   0   0   0   0    0
167    2015  marisja01  3   7   1   3   1   0   0    0
168    2015  marisja01  1   0   0   0   0   0   0    0
169    2015  mcculla02  1   0   0   0   0   0   0    0
170    2015  mchugco01  2   0   0   0   0   0   0    0
171    2015  neshepa01  2   0   0   0   0   0   0    0
172    2015  perezol01  2   0   0   0   0   0   0    0
173    2015  rasmuco01  5  14   3   6   1   0   3    5
174    2015  rasmuco01  1   3   1   1   0   0   1    1
175    2015   sippto01  5   0   0   0   0   0   0    0
176    2015   sippto01  1   0   0   0   0   0   0    0
177    2015  springe01  5  19   5   4   1   0   1    3
178    2015  springe01  1   4   0   1   1   0   0    0
179    2015  tuckepr01  3   2   0   0   0   0   0    0
180    2015  valbulu01  5  13   2   2   0   0   1    2
181    2015  valbulu01  1   4   0   1   0   0   0    0
182    2015  villajo01  1   0   1   0   0   0   0    0

[183 rows x 10 columns]

In [18]:
## Do the same above but for DET 
crit1 = batting_p['yearID'] >= 2017
crit2 = batting_p['teamID'] == 'DET'
critall = crit1 & crit2
Det_players_batting = batting_p[critall].drop(columns=['SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'lgID', 'teamID', 'round']).reset_index(drop=True)
Det_players_batting

Empty DataFrame
Columns: [yearID, playerID, G, AB, R, H, 2B, 3B, HR, RBI]
Index: []

In [43]:
# np.mean(teams.W.values) = 81 
## Average team = LAA => Los Angeles Angels
crit1 = batting_p['yearID'] >= 2012
crit2 = batting_p['teamID'] == 'LAA'
critall = crit1 & crit2
Laa_players_batting = batting_p[critall].drop(columns=['SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
      'SF', 'GIDP', 'lgID', 'teamID', 'round']).reset_index(drop=True)
Laa_players_batting

    yearID   playerID  G  AB  R  H  2B  3B  HR  RBI
0     2014  aybarer01  3  11  0  5   1   0   0    0
1     2014  beckhgo01  2   1  0  0   0   0   0    0
2     2014  calhoko01  3  15  1  5   0   0   0    0
3     2014  congeha01  1   1  0  0   0   0   0    0
4     2014  cowgico01  1   0  0  0   0   0   0    0
5     2014   croncj01  3   9  0  1   1   0   0    0
6     2014  freesda01  3   8  1  1   0   0   1    1
7     2014  grillja01  2   0  0  0   0   0   0    0
8     2014  hamiljo03  3  13  0  0   0   0   0    1
9     2014  iannech01  3  10  1  1   0   0   1    1
10    2014  jepseke01  3   0  0  0   0   0   0    0
11    2014  kendrho01  3  13  1  2   1   0   0    0
12    2014  morinmi01  1   0  0  0   0   0   0    0
13    2014  navaref01  1   1  0  0   0   0   0    0
14    2014  pestavi01  2   0  0  0   0   0   0    0
15    2014  pujolal01  3  12  1  2   0   0   1    2
16    2014  rasmuco02  1   0  0  0   0   0   0    0
17    2014  salasfe01  2   0  0  0   0   0   0    0
18    2014  santihe01  1   0  0  0   0   0   0    0
19    2014  shoemma01  1   0  0  0   0   0   0    0
20    2014  smithjo05  2   0  0  0   0   0   0    0
21    2014  streehu01  2   0  0  0   0   0   0    0
22    2014  troutmi01  3  12  1  1   0   0   1    1
23    2014  weaveje02  1   0  0  0   0   0   0    0
24    2014  wilsocj01  1   0  0  0   0   0   0    0