In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

In [14]:
teams_half = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/TeamsHalf.csv')
batting_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/BattingPost.csv')
fielding_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/FieldingPost.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
salaries = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/Salaries.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
series_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/SeriesPost.csv')

In [15]:
teams_half.head()

   yearID lgID teamID  Half divID DivWin  Rank   G   W   L
0    1981   NL    ATL     1     W      N     4  54  25  29
1    1981   NL    ATL     2     W      N     5  52  25  27
2    1981   AL    BAL     1     E      N     2  54  31  23
3    1981   AL    BAL     2     E      N     4  51  28  23
4    1981   AL    BOS     1     E      N     5  56  30  26

In [18]:
teams_half.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
yearID    52 non-null int64
lgID      52 non-null object
teamID    52 non-null object
Half      52 non-null int64
divID     52 non-null object
DivWin    52 non-null object
Rank      52 non-null int64
G         52 non-null int64
W         52 non-null int64
L         52 non-null int64
dtypes: int64(6), object(4)
memory usage: 4.1+ KB

In [19]:
teams_half.describe()

       yearID       Half       Rank          G          W          L
count    52.0  52.000000  52.000000  52.000000  52.000000  52.000000
mean   1981.0   1.500000   3.692308  53.423077  26.711538  26.711538
std       0.0   0.504878   1.842190   2.872084   5.333345   5.184201
min    1981.0   1.000000   1.000000  48.000000  15.000000  20.000000
25%    1981.0   1.000000   2.000000  52.000000  23.000000  23.000000
50%    1981.0   1.500000   4.000000  53.000000  27.000000  26.000000
75%    1981.0   2.000000   5.000000  56.000000  31.000000  29.000000
max    1981.0   2.000000   7.000000  60.000000  37.000000  42.000000

In [22]:
teams_half.columns

Index(['yearID', 'lgID', 'teamID', 'Half', 'divID', 'DivWin', 'Rank', 'G', 'W',
       'L'],
      dtype='object')

In [25]:
batting_p.head()

,yearID,round,playerID,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1884,WS,becanbu01,NY4,AA,1,2,0,1,0,...,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN
1,1884,WS,bradyst01,NY4,AA,3,10,1,0,0,...,0,0,NaN,0,1,0,NaN,NaN,NaN,NaN
2,1884,WS,carrocl01,PRO,NL,3,10,2,1,0,...,1,0,NaN,1,1,0,NaN,NaN,NaN,NaN
3,1884,WS,dennyje01,PRO,NL,3,9,3,4,0,...,2,0,NaN,0,3,0,NaN,NaN,NaN,NaN
4,1884,WS,esterdu01,NY4,AA,3,10,0,3,1,...,0,1,NaN,0,3,0,NaN,NaN,NaN,NaN

In [26]:
batting_p.info

<bound method DataFrame.info of        yearID  round   playerID teamID lgID  G  AB  R   H  2B  ...   RBI  SB  \
0        1884     WS  becanbu01    NY4   AA  1   2  0   1   0  ...     0   0
1        1884     WS  bradyst01    NY4   AA  3  10  1   0   0  ...     0   0
2        1884     WS  carrocl01    PRO   NL  3  10  2   1   0  ...     1   0
3        1884     WS  dennyje01    PRO   NL  3   9  3   4   0  ...     2   0
4        1884     WS  esterdu01    NY4   AA  3  10  0   3   1  ...     0   1
5        1884     WS  farreja02    PRO   NL  3   9  3   4   2  ...     0   1
6        1884     WS  forstto01    NY4   AA  1   3  0   0   0  ...     0   0
7        1884     WS  gilliba01    PRO   NL  3   9  3   4   2  ...     2   0
8        1884     WS  hinespa01    PRO   NL  3   8  5   2   0  ...     1   2
9        1884     WS  irwinar01    PRO   NL  3   9  3   2   0  ...     2   0
10       1884     WS  keefeti01    NY4   AA  2   5  0   1   0  ...     0   0
11       1884     WS  kenneed01    NY4   AA  3   7  0   0   0  ...     0   0
12       1884     WS  nelsoca01    NY4   AA  3  10  0   1   0  ...     0   0
13       1884     WS    orrda01    NY4   AA  3   9  0   1   0  ...     0   0
14       1884     WS  radboch01    PRO   NL  3  10  1   1   0  ...     2   0
15       1884     WS  radfopa01    PRO   NL  3   7  1   0   0  ...     1   0
16       1884     WS  reipsch01    NY4   AA  2   5  1   0   0  ...     0   0
17       1884     WS  rosemch01    NY4   AA  3   9  1   3   0  ...     1   0
18       1884     WS  startjo01    PRO   NL  3  10  0   1   0  ...     1   0
19       1884     WS   troyda01    NY4   AA  2   5  0   1   0  ...     1   0
20       1885     WS  ansonca01    CHN   NL  7  26  8  11   1  ...     0   0
21       1885     WS  barklsa01    SL4   AA  7  23  3   2   0  ...     0   0
22       1885     WS  burnsto01    CHN   NL  7  25  3   2   0  ...     0   0
23       1885     WS  bushodo01    SL4   AA  4  13  1   2   0  ...     0   0
24       1885     WS  carutbo01    SL4   AA  5  15  1   3   0  ...     0   0
25       1885     WS  clarkjo01    CHN   NL  4  13  1   2   1  ...     0   0
26       1885     WS  comisch01    SL4   AA  7  24  6   7   0  ...     0   0
27       1885     WS  dalryab01    CHN   NL  7  26  4   7   2  ...     0   0
28       1885     WS  flintsi01    CHN   NL  4  14  0   2   0  ...     0   0
29       1885     WS  foutzda01    SL4   AA  4  12  1   2   0  ...     0   0
...       ...    ...        ...    ...  ... ..  .. ..  ..  ..  ...   ...  ..
13913    2017  ALDS1  torrero01    NYA   AL  1   1  0   0   0  ...     0   0
13914    2017   NLCS  turneju01    LAN   NL  5  18  3   6   0  ...     7   0
13915    2017  NLDS1  turneju01    LAN   NL  3  13  1   6   0  ...     5   1
13916    2017     WS  turneju01    LAN   NL  7  25  4   4   2  ...     2   0
13917    2017  NLDS2  turnetr01    WAS   NL  5  21  1   3   1  ...     0   1
13918    2017  ALDS1  urshegi01    CLE   AL  5  12  0   2   0  ...     1   0
13919    2017   NLCS  utleych01    LAN   NL  3   7  0   0   0  ...     0   0
13920    2017  NLDS1  utleych01    LAN   NL  2   2  0   0   0  ...     0   0
13921    2017     WS  utleych01    LAN   NL  4   6  1   0   0  ...     0   0
13922    2017   NLWC  valaipa01    COL   NL  1   1  0   1   1  ...     0   0
13923    2017  ALDS2  vazquch01    BOS   AL  2   6  1   2   0  ...     0   0
13924    2017   ALCS  verlaju01    HOU   AL  2   0  0   0   0  ...     0   0
13925    2017  ALDS2  verlaju01    HOU   AL  2   0  0   0   0  ...     0   0
13926    2017     WS  verlaju01    HOU   AL  2   3  0   0   0  ...     0   0
13927    2017  NLDS1  walkech02    ARI   NL  2   1  0   1   0  ...     0   0
13928    2017  NLDS1  walketa01    ARI   NL  1   0  0   0   0  ...     0   0
13929    2017   ALCS  warread01    NYA   AL  2   0  0   0   0  ...     0   0
13930    2017  ALDS1  warread01    NYA   AL  1   0  0   0   0  ...     0   0
13931    2017   NLCS  watsoto01    LAN   NL  4   0  0   0   0  ...     0   0
13932    2017  NLDS1  watsoto01    LAN   NL  2   0  0   0   0  ...     0   0
13933    2017     WS  watsoto01    LAN   NL  5   0  0   0   0  ...     0   0
13934    2017  NLDS2  werthja01    WAS   NL  5  18  1   3   1  ...     0   0
13935    2017  NLDS2  wietema01    WAS   NL  5  14  2   2   0  ...     0   0
13936    2017  NLDS2  wilsoju10    CHN   NL  1   0  0   0   0  ...     0   0
13937    2017   NLCS   woodal02    LAN   NL  1   2  0   0   0  ...     0   0
13938    2017     WS   woodal02    LAN   NL  2   0  0   0   0  ...     0   0
13939    2017  ALDS2  youngch04    BOS   AL  1   2  1   1   1  ...     0   1
13940    2017  NLDS2  zimmery01    WAS   NL  5  20  1   3   1  ...     4   1
13941    2017   NLCS  zobribe01    CHN   NL  4   9  0   0   0  ...     0   0
13942    2017  NLDS2  zobribe01    CHN   NL  5  17  3   4   2  ...     0   0

        CS  BB  SO  IBB  HBP   SH   SF  GIDP
0      NaN   0   0    0  NaN  NaN  NaN   NaN
1      NaN   0   1    0  NaN  NaN  NaN   NaN
2      NaN   1   1    0  NaN  NaN  NaN   NaN
3      NaN   0   3    0  NaN  NaN  NaN   NaN
4      NaN   0   3    0  NaN  NaN  NaN   NaN
5      NaN   0   0    0  NaN  NaN  NaN   NaN
6      NaN   0   1    0  NaN  NaN  NaN   NaN
7      NaN   0   1    0  NaN  NaN  NaN   NaN
8      NaN   3   0    0  NaN  NaN  NaN   NaN
9      NaN   0   2    0  NaN  NaN  NaN   NaN
10     NaN   0   4    0  NaN  NaN  NaN   NaN
11     NaN   0   2    0  NaN  NaN  NaN   NaN
12     NaN   0   1    0  NaN  NaN  NaN   NaN
13     NaN   0   0    0  NaN  NaN  NaN   NaN
14     NaN   1   3    0  NaN  NaN  NaN   NaN
15     NaN   0   1    0  NaN  NaN  NaN   NaN
16     NaN   0   1    0  NaN  NaN  NaN   NaN
17     NaN   0   1    0  NaN  NaN  NaN   NaN
18     NaN   0   2    0  NaN  NaN  NaN   NaN
19     NaN   0   1    0  NaN  NaN  NaN   NaN
20     NaN   2   0    0  NaN  NaN  NaN   NaN
21     NaN   2   0    0  NaN  NaN  NaN   NaN
22     NaN   0   0    0  NaN  NaN  NaN   NaN
23     NaN   0   0    0  NaN  NaN  NaN   NaN
24     NaN   1   0    0  NaN  NaN  NaN   NaN
25     NaN   0   0    0  NaN  NaN  NaN   NaN
26     NaN   0   0    0  NaN  NaN  NaN   NaN
27     NaN   2   0    0  NaN  NaN  NaN   NaN
28     NaN   0   0    0  NaN  NaN  NaN   NaN
29     NaN   0   0    0  NaN  NaN  NaN   NaN
...    ...  ..  ..  ...  ...  ...  ...   ...
13913  0.0   0   1    0  0.0  0.0  0.0   0.0
13914  0.0   5   4    0  0.0  0.0  0.0   0.0
13915  0.0   1   1    0  1.0  0.0  0.0   0.0
13916  0.0   4   4    0  2.0  0.0  0.0   1.0
13917  0.0   2   7    0  0.0  0.0  0.0   0.0
13918  0.0   0   6    0  0.0  1.0  0.0   0.0
13919  0.0   0   4    0  1.0  0.0  0.0   1.0
13920  0.0   2   0    0  0.0  0.0  0.0   0.0
13921  0.0   0   1    0  1.0  0.0  0.0   0.0
13922  0.0   0   0    0  0.0  0.0  0.0   0.0
13923  0.0   2   2    0  0.0  0.0  0.0   0.0
13924  0.0   0   0    0  0.0  0.0  0.0   0.0
13925  0.0   0   0    0  0.0  0.0  0.0   0.0
13926  0.0   0   3    0  0.0  1.0  0.0   0.0
13927  0.0   0   0    0  1.0  0.0  0.0   0.0
13928  0.0   0   0    0  0.0  0.0  0.0   0.0
13929  0.0   0   0    0  0.0  0.0  0.0   0.0
13930  0.0   0   0    0  0.0  0.0  0.0   0.0
13931  0.0   0   0    0  0.0  0.0  0.0   0.0
13932  0.0   0   0    0  0.0  0.0  0.0   0.0
13933  0.0   0   0    0  0.0  0.0  0.0   0.0
13934  0.0   4   4    0  0.0  0.0  0.0   0.0
13935  0.0   2   4    0  2.0  0.0  0.0   0.0
13936  0.0   0   0    0  0.0  0.0  0.0   0.0
13937  0.0   0   1    0  0.0  0.0  0.0   0.0
13938  0.0   0   0    0  0.0  0.0  0.0   0.0
13939  0.0   0   0    0  0.0  0.0  0.0   0.0
13940  0.0   2   4    0  0.0  0.0  0.0   1.0
13941  0.0   0   3    0  0.0  0.0  0.0   0.0
13942  0.0   1   3    0  0.0  0.0  0.0   2.0

[13943 rows x 22 columns]>

In [29]:
batting_p.describe

<bound method NDFrame.describe of        yearID  round   playerID teamID lgID  G  AB  R   H  2B  ...   RBI  SB  \
0        1884     WS  becanbu01    NY4   AA  1   2  0   1   0  ...     0   0
1        1884     WS  bradyst01    NY4   AA  3  10  1   0   0  ...     0   0
2        1884     WS  carrocl01    PRO   NL  3  10  2   1   0  ...     1   0
3        1884     WS  dennyje01    PRO   NL  3   9  3   4   0  ...     2   0
4        1884     WS  esterdu01    NY4   AA  3  10  0   3   1  ...     0   1
5        1884     WS  farreja02    PRO   NL  3   9  3   4   2  ...     0   1
6        1884     WS  forstto01    NY4   AA  1   3  0   0   0  ...     0   0
7        1884     WS  gilliba01    PRO   NL  3   9  3   4   2  ...     2   0
8        1884     WS  hinespa01    PRO   NL  3   8  5   2   0  ...     1   2
9        1884     WS  irwinar01    PRO   NL  3   9  3   2   0  ...     2   0
10       1884     WS  keefeti01    NY4   AA  2   5  0   1   0  ...     0   0
11       1884     WS  kenneed01    NY4   AA  3   7  0   0   0  ...     0   0
12       1884     WS  nelsoca01    NY4   AA  3  10  0   1   0  ...     0   0
13       1884     WS    orrda01    NY4   AA  3   9  0   1   0  ...     0   0
14       1884     WS  radboch01    PRO   NL  3  10  1   1   0  ...     2   0
15       1884     WS  radfopa01    PRO   NL  3   7  1   0   0  ...     1   0
16       1884     WS  reipsch01    NY4   AA  2   5  1   0   0  ...     0   0
17       1884     WS  rosemch01    NY4   AA  3   9  1   3   0  ...     1   0
18       1884     WS  startjo01    PRO   NL  3  10  0   1   0  ...     1   0
19       1884     WS   troyda01    NY4   AA  2   5  0   1   0  ...     1   0
20       1885     WS  ansonca01    CHN   NL  7  26  8  11   1  ...     0   0
21       1885     WS  barklsa01    SL4   AA  7  23  3   2   0  ...     0   0
22       1885     WS  burnsto01    CHN   NL  7  25  3   2   0  ...     0   0
23       1885     WS  bushodo01    SL4   AA  4  13  1   2   0  ...     0   0
24       1885     WS  carutbo01    SL4   AA  5  15  1   3   0  ...     0   0
25       1885     WS  clarkjo01    CHN   NL  4  13  1   2   1  ...     0   0
26       1885     WS  comisch01    SL4   AA  7  24  6   7   0  ...     0   0
27       1885     WS  dalryab01    CHN   NL  7  26  4   7   2  ...     0   0
28       1885     WS  flintsi01    CHN   NL  4  14  0   2   0  ...     0   0
29       1885     WS  foutzda01    SL4   AA  4  12  1   2   0  ...     0   0
...       ...    ...        ...    ...  ... ..  .. ..  ..  ..  ...   ...  ..
13913    2017  ALDS1  torrero01    NYA   AL  1   1  0   0   0  ...     0   0
13914    2017   NLCS  turneju01    LAN   NL  5  18  3   6   0  ...     7   0
13915    2017  NLDS1  turneju01    LAN   NL  3  13  1   6   0  ...     5   1
13916    2017     WS  turneju01    LAN   NL  7  25  4   4   2  ...     2   0
13917    2017  NLDS2  turnetr01    WAS   NL  5  21  1   3   1  ...     0   1
13918    2017  ALDS1  urshegi01    CLE   AL  5  12  0   2   0  ...     1   0
13919    2017   NLCS  utleych01    LAN   NL  3   7  0   0   0  ...     0   0
13920    2017  NLDS1  utleych01    LAN   NL  2   2  0   0   0  ...     0   0
13921    2017     WS  utleych01    LAN   NL  4   6  1   0   0  ...     0   0
13922    2017   NLWC  valaipa01    COL   NL  1   1  0   1   1  ...     0   0
13923    2017  ALDS2  vazquch01    BOS   AL  2   6  1   2   0  ...     0   0
13924    2017   ALCS  verlaju01    HOU   AL  2   0  0   0   0  ...     0   0
13925    2017  ALDS2  verlaju01    HOU   AL  2   0  0   0   0  ...     0   0
13926    2017     WS  verlaju01    HOU   AL  2   3  0   0   0  ...     0   0
13927    2017  NLDS1  walkech02    ARI   NL  2   1  0   1   0  ...     0   0
13928    2017  NLDS1  walketa01    ARI   NL  1   0  0   0   0  ...     0   0
13929    2017   ALCS  warread01    NYA   AL  2   0  0   0   0  ...     0   0
13930    2017  ALDS1  warread01    NYA   AL  1   0  0   0   0  ...     0   0
13931    2017   NLCS  watsoto01    LAN   NL  4   0  0   0   0  ...     0   0
13932    2017  NLDS1  watsoto01    LAN   NL  2   0  0   0   0  ...     0   0
13933    2017     WS  watsoto01    LAN   NL  5   0  0   0   0  ...     0   0
13934    2017  NLDS2  werthja01    WAS   NL  5  18  1   3   1  ...     0   0
13935    2017  NLDS2  wietema01    WAS   NL  5  14  2   2   0  ...     0   0
13936    2017  NLDS2  wilsoju10    CHN   NL  1   0  0   0   0  ...     0   0
13937    2017   NLCS   woodal02    LAN   NL  1   2  0   0   0  ...     0   0
13938    2017     WS   woodal02    LAN   NL  2   0  0   0   0  ...     0   0
13939    2017  ALDS2  youngch04    BOS   AL  1   2  1   1   1  ...     0   1
13940    2017  NLDS2  zimmery01    WAS   NL  5  20  1   3   1  ...     4   1
13941    2017   NLCS  zobribe01    CHN   NL  4   9  0   0   0  ...     0   0
13942    2017  NLDS2  zobribe01    CHN   NL  5  17  3   4   2  ...     0   0

        CS  BB  SO  IBB  HBP   SH   SF  GIDP
0      NaN   0   0    0  NaN  NaN  NaN   NaN
1      NaN   0   1    0  NaN  NaN  NaN   NaN
2      NaN   1   1    0  NaN  NaN  NaN   NaN
3      NaN   0   3    0  NaN  NaN  NaN   NaN
4      NaN   0   3    0  NaN  NaN  NaN   NaN
5      NaN   0   0    0  NaN  NaN  NaN   NaN
6      NaN   0   1    0  NaN  NaN  NaN   NaN
7      NaN   0   1    0  NaN  NaN  NaN   NaN
8      NaN   3   0    0  NaN  NaN  NaN   NaN
9      NaN   0   2    0  NaN  NaN  NaN   NaN
10     NaN   0   4    0  NaN  NaN  NaN   NaN
11     NaN   0   2    0  NaN  NaN  NaN   NaN
12     NaN   0   1    0  NaN  NaN  NaN   NaN
13     NaN   0   0    0  NaN  NaN  NaN   NaN
14     NaN   1   3    0  NaN  NaN  NaN   NaN
15     NaN   0   1    0  NaN  NaN  NaN   NaN
16     NaN   0   1    0  NaN  NaN  NaN   NaN
17     NaN   0   1    0  NaN  NaN  NaN   NaN
18     NaN   0   2    0  NaN  NaN  NaN   NaN
19     NaN   0   1    0  NaN  NaN  NaN   NaN
20     NaN   2   0    0  NaN  NaN  NaN   NaN
21     NaN   2   0    0  NaN  NaN  NaN   NaN
22     NaN   0   0    0  NaN  NaN  NaN   NaN
23     NaN   0   0    0  NaN  NaN  NaN   NaN
24     NaN   1   0    0  NaN  NaN  NaN   NaN
25     NaN   0   0    0  NaN  NaN  NaN   NaN
26     NaN   0   0    0  NaN  NaN  NaN   NaN
27     NaN   2   0    0  NaN  NaN  NaN   NaN
28     NaN   0   0    0  NaN  NaN  NaN   NaN
29     NaN   0   0    0  NaN  NaN  NaN   NaN
...    ...  ..  ..  ...  ...  ...  ...   ...
13913  0.0   0   1    0  0.0  0.0  0.0   0.0
13914  0.0   5   4    0  0.0  0.0  0.0   0.0
13915  0.0   1   1    0  1.0  0.0  0.0   0.0
13916  0.0   4   4    0  2.0  0.0  0.0   1.0
13917  0.0   2   7    0  0.0  0.0  0.0   0.0
13918  0.0   0   6    0  0.0  1.0  0.0   0.0
13919  0.0   0   4    0  1.0  0.0  0.0   1.0
13920  0.0   2   0    0  0.0  0.0  0.0   0.0
13921  0.0   0   1    0  1.0  0.0  0.0   0.0
13922  0.0   0   0    0  0.0  0.0  0.0   0.0
13923  0.0   2   2    0  0.0  0.0  0.0   0.0
13924  0.0   0   0    0  0.0  0.0  0.0   0.0
13925  0.0   0   0    0  0.0  0.0  0.0   0.0
13926  0.0   0   3    0  0.0  1.0  0.0   0.0
13927  0.0   0   0    0  1.0  0.0  0.0   0.0
13928  0.0   0   0    0  0.0  0.0  0.0   0.0
13929  0.0   0   0    0  0.0  0.0  0.0   0.0
13930  0.0   0   0    0  0.0  0.0  0.0   0.0
13931  0.0   0   0    0  0.0  0.0  0.0   0.0
13932  0.0   0   0    0  0.0  0.0  0.0   0.0
13933  0.0   0   0    0  0.0  0.0  0.0   0.0
13934  0.0   4   4    0  0.0  0.0  0.0   0.0
13935  0.0   2   4    0  2.0  0.0  0.0   0.0
13936  0.0   0   0    0  0.0  0.0  0.0   0.0
13937  0.0   0   1    0  0.0  0.0  0.0   0.0
13938  0.0   0   0    0  0.0  0.0  0.0   0.0
13939  0.0   0   0    0  0.0  0.0  0.0   0.0
13940  0.0   2   4    0  0.0  0.0  0.0   1.0
13941  0.0   0   3    0  0.0  0.0  0.0   0.0
13942  0.0   1   3    0  0.0  0.0  0.0   2.0

[13943 rows x 22 columns]>

In [39]:
## Can Drop a good majority of values in CS HBP SH SF AND GIDP 
batting_p.isnull().sum()

yearID        0
round         0
playerID      0
teamID        0
lgID          0
G             0
AB            0
R             0
H             0
2B            0
3B            0
HR            0
RBI           0
SB            0
CS          201
BB            0
SO            0
IBB           0
HBP         201
SH          201
SF          201
GIDP        201
dtype: int64