In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

In [50]:
teams_half = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/TeamsHalf.csv')
batting_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/BattingPost.csv')
fielding_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/FieldingPost.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
salaries = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/Salaries.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
teams = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/Teams.csv')
series_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/SeriesPost.csv')

In [53]:
teams.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [55]:
teams.columns 
# Drop divID attendecnee / Ghome / franchID / yearID / DivWin  / WCWin / LgWin / WSWin

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [66]:
teams.isnull().sum()

yearID               0
lgID                50
teamID               0
franchID             0
divID             1517
Rank                 0
G                    0
Ghome              399
W                    0
L                    0
DivWin            1545
WCWin             2181
LgWin               28
WSWin              357
R                    0
AB                   0
H                    0
2B                   0
3B                   0
HR                   0
BB                   1
SO                 120
SB                 126
CS                 832
HBP               1326
SF                1541
RA                   0
ER                   0
ERA                  0
CG                   0
SHO                  0
SV                   0
IPouts               0
HA                   0
HRA                  0
BBA                  0
SOA                  0
E                    0
DP                   0
FP                   0
name                 0
park                34
attendance         279
BPF                  0
PPF                  0
teamIDBR             0
teamIDlahman45       0
teamIDretro          0
dtype: int64

In [76]:
wins = teams['W']
loses = teams['L']
rank_wandl = teams[['yearID','teamID','Rank','W','L']]

In [78]:
rank_wandl

      yearID teamID  Rank    W   L
0       1871    BS1     3   20  10
1       1871    CH1     2   19   9
2       1871    CL1     8   10  19
3       1871    FW1     7    7  12
4       1871    NY2     5   16  17
5       1871    PH1     1   21   7
6       1871    RC1     9    4  21
7       1871    TRO     6   13  15
8       1871    WS3     4   15  15
9       1872    BL1     2   35  19
10      1872    BR1     9    3  26
11      1872    BR2     6    9  28
12      1872    BS1     1   39   8
13      1872    CL1     7    6  16
14      1872    MID     8    5  19
15      1872    NY2     3   34  20
16      1872    PH1     4   30  14
17      1872    TRO     5   15  10
18      1872    WS3    10    2   7
19      1872    WS4    11    0  11
20      1873    BL1     3   34  22
21      1873    BL4     9    0   6
22      1873    BR2     6   17  37
23      1873    BS1     1   43  16
24      1873    ELI     8    2  21
25      1873    NY2     4   29  24
26      1873    PH1     5   28  23
27      1873    PH2     2   36  17
28      1873    WS5     7    8  31
29      1874    BL1     8    9  38
...      ...    ...   ...  ...  ..
2835    2017    ARI     2   93  69
2836    2017    ATL     3   72  90
2837    2017    BAL     5   75  87
2838    2017    BOS     1   93  69
2839    2017    CHA     4   67  95
2840    2017    CHN     1   92  70
2841    2017    CIN     5   68  94
2842    2017    CLE     1  102  60
2843    2017    COL     3   87  75
2844    2017    DET     5   64  98
2845    2017    HOU     1  101  61
2846    2017    KCA     3   80  82
2847    2017    LAA     2   80  82
2848    2017    LAN     1  104  58
2849    2017    MIA     2   77  85
2850    2017    MIL     2   86  76
2851    2017    MIN     2   85  77
2852    2017    NYA     2   91  71
2853    2017    NYN     4   70  92
2854    2017    OAK     5   75  87
2855    2017    PHI     5   66  96
2856    2017    PIT     4   75  87
2857    2017    SDN     4   71  91
2858    2017    SEA     3   78  84
2859    2017    SFN     5   64  98
2860    2017    SLN     3   83  79
2861    2017    TBA     3   80  82
2862    2017    TEX     4   78  84
2863    2017    TOR     4   76  86
2864    2017    WAS     1   97  65

[2865 rows x 5 columns]