In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

In [14]:
teams_half = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/TeamsHalf.csv')
batting_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/BattingPost.csv')
fielding_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/FieldingPost.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
salaries = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/Salaries.csv')
pitching_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/PitchingPost.csv')
series_p = pd.read_csv('/Users/davidpeterson/Downloads/PIETHON/Baseball_Data/core/SeriesPost.csv')

In [15]:
teams_half.head()

   yearID lgID teamID  Half divID DivWin  Rank   G   W   L
0    1981   NL    ATL     1     W      N     4  54  25  29
1    1981   NL    ATL     2     W      N     5  52  25  27
2    1981   AL    BAL     1     E      N     2  54  31  23
3    1981   AL    BAL     2     E      N     4  51  28  23
4    1981   AL    BOS     1     E      N     5  56  30  26

In [18]:
teams_half.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
yearID    52 non-null int64
lgID      52 non-null object
teamID    52 non-null object
Half      52 non-null int64
divID     52 non-null object
DivWin    52 non-null object
Rank      52 non-null int64
G         52 non-null int64
W         52 non-null int64
L         52 non-null int64
dtypes: int64(6), object(4)
memory usage: 4.1+ KB

In [19]:
teams_half.describe()

       yearID       Half       Rank          G          W          L
count    52.0  52.000000  52.000000  52.000000  52.000000  52.000000
mean   1981.0   1.500000   3.692308  53.423077  26.711538  26.711538
std       0.0   0.504878   1.842190   2.872084   5.333345   5.184201
min    1981.0   1.000000   1.000000  48.000000  15.000000  20.000000
25%    1981.0   1.000000   2.000000  52.000000  23.000000  23.000000
50%    1981.0   1.500000   4.000000  53.000000  27.000000  26.000000
75%    1981.0   2.000000   5.000000  56.000000  31.000000  29.000000
max    1981.0   2.000000   7.000000  60.000000  37.000000  42.000000

In [22]:
teams_half.columns

Index(['yearID', 'lgID', 'teamID', 'Half', 'divID', 'DivWin', 'Rank', 'G', 'W',
       'L'],
      dtype='object')